@page "/counter"
@using System.Data
@using BlazorAppDynamicTemplate.Data
@using BlazorAppDynamicTemplate.DynamicTemplate

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <br/>
        <br/>

        @DynamicTableTemplate.BuildTable(tabEmployee)

        @code {
            int currentCount;
            private DataTable tabEmployee;

            void IncrementCount()
            {
                currentCount++;
            }

            protected override void OnInitialized()
            {
                tabEmployee = DBProcess.FetchAllEmployeeDetails();
            }

        }